p {
  font-size: 16px;
}
/* This is giving each h2 tag a bottom margin and font size of 20pixels and 36pixels, respectively.*/
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* This is giving each h3 tag a bottom margin of 10pixels and aligning the text to the center of the container.*/
h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* This is class is proving the main image of the website that is underneath the header to have a height of 800pixels,
 stretching the image to the full size of it's container, giving it a bottom margin of 25pixels and positioning it in the center.*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}
/* This property is aligning the image to the left of the text with a right margin of 25pixels*/
.float-left {
  float: left;
  margin-right: 25px;
}
/* This property is aligning the image to the right of the text with a right margin of 25pixels*/
.float-right {
  float: right;
  margin-left: 25px;
}
/* This class is making the content take of 75% of the width of it's container, and providing the content
  with a left margin of 20pixels and displaying the element as an inline-level block container.*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: auto;
}
/* This is providing each section within the class="content" and class="marketingSections" classes with
  a bottom margin of 20pixels, a padding and height of 50pixels and 300pixels, respectively, a specific font family
    and specific background and font colors.*/
.content .marketingSections {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(0, 192, 192);
  color: #ffffff;
}
/* This property is giving each image with the class .content a max-height of 200pixels and top/bottom
  margins of 2% and its left and right margins to zero.*/
.content img {
  max-height: 200px;
  margin: 2%, 0;
}
/* This class is providing its content to the right of text, a right margin and padding of 20 pixels,
  making the width and height fill 20% and 100% of its container, respectively; setting a specific background
  font color and font family. */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(0, 192, 192);
  margin-bottom: 32px;
  color: #ffffff;
}
/* This property is giving each image within the class .benefits a top/bottom margin of 10pixels, a right/left margin
  set to adjust to the size of the web browser, and giving the images a max-width of 150pixels.*/
.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* This property is giving each paragraph within the class .benefits of a bottom margin of 10%.*/
.benefits p {
  margin-bottom: 10%;
}
/* This property is giving the footer a padding of 30pixels, making the content precede one another vertically, 
  and setting the text to the center and using a specific font family.*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
